@import "tailwindcss";


body {
  background-color: #101828;
  font-family: 'Roboto';
}


@theme {
  --breakpoint-3xl: 1920px;
  --color-red-primary: #ed3324;
  --color-yellow-primary: #f9ae18;
  --color-blue-primary: #0071bb;
  --color-celeste-primary: ##44c7f4;
  --color-azul-fondo: #071119;
}

