@import "tailwindcss";

* {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Galvanizer';
  src: url('/fonts/Galvanizer.ttf') format('opentype');
}

@theme {
  --breakpoint-3xl: 1920px;
  --color-red-primary: #EE1A25;
  --color-yellow-primary: #FBB71A;
  --color-blue-primary: #0073BC;
  --color-celeste-primary: #44CAF5;
  --color-azul-fondo: #071119;
}

h1, li, h2{
  font-family: 'Galvanizer';
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

#root {
  overflow-x: hidden;
  width: 100%;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.card-appear {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
}
